.menuBG{
    display: block;
    width: 100%;
    height: 450px;
    position: relative;
    background-image: url("pizza/bg4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menuNav{
    display: block;
    position: absolute;
    bottom: 0px;
    left: 25%;   
    text-align: center;
    width: 50%;
    height: 40px;
    word-spacing: 50px;
    background: rgba(0,0,0,0.7);
}
.menuNav a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 25px; 
    line-height: 40px;
}
.menuNav a:hover{
    color: #9EAF3B;
}

.inpageNav{
    margin: auto;
    display: block;
    width: 100%;
    margin: 50px auto;
    text-align: center;
}
.inpageNav a{
    text-decoration: none;
    
    padding: 20px;
    font-size: 25px;
    color: black;
    scroll-behavior: smooth;
}
.inpageNav a:hover{
    color: white;
    background-color: black;
    border-radius: 10%; 
}
.inpageNav span{
    font-size: 30px;
    font-weight: bold;
}

#iconBack{
    position: fixed;
    bottom: 130px;
    right: 10px;
}

.pizzaList{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    grid-gap: 30px;
    
}

.Item{
    text-align:center;
    padding-top: 20px;
}
.Item:hover{
    transform: scale(1.2,1.2);
    
}
.lineMenu{
    display: block;
    border-style: outset;
    border-color: black;
    border-width: 2px;
    border-radius: 100px;
    width:100%;
    grid-column: 1 / span 3;
}
p{  
    
    font-weight: bold;
    font-size: 40px;
    grid-column: 1 / span 3;
}
span{
    font-weight: bold;
}

